= form_for post, html: { multipart: true, class: 'form-post' } do |f|
  - if post.errors.any?
    .alert.alert-danger.alert-block
      %a.close{"data-dismiss" => "alert"} x
      = content_tag :div
      %h2= "#{pluralize(post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - post.errors.full_messages.each do |msg|
          %li= msg
  %h2.form-post-heading= "Add post"
  = f.text_field :title,class: 'form-control form-control-post', autofocus: true, placeholder: "Title", required: true
  = f.text_area :description, class: 'form-control form-control-post' ,placeholder: "Description", required: true
  = f.file_field :picture, class: 'filestyle', "data-buttonName" => "btn-primary"
  = f.submit 'Save', class: 'btn btn-lg btn-success btn-block'
